<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <div class="row g-3">
        <div class="col-lg-6 mt-0">
            <main class="mt-3 dashboard-section dashboard-campaign">
                <h1>{campaign.title}</h1>
                <f:if condition="{campaign.image}">
                    <f:then>
                        <f:image image="{campaign.image}" class="img-fluid w-100" alt="" width="770c" height="517c"
                                 additionalAttributes='{style: "object-fit: cover; height: 400px; object-position: center;"}'/>
                    </f:then>
                    <f:else>
                        <div class="card-img-left" style="width: 100%; min-height: 400px; display: flex; justify-content: center; align-items: center; background-color: #e0e0e0; border: 0px solid #333;">
                            <i class="fas fa-image" style="font-size: 50px; color: #999;" aria-label="Image not available"></i>
                        </div>
                    </f:else>
                </f:if>

                <p class="mt-3">{campaign.description}</p>
            </main>
        </div>

        <div class="col-lg-6 mt-3">
            <section class="mt-0 dashboard-section dashboard-general-statistic">
                <f:render partial="Workflow/OverallStatistics" arguments="{_all}"/>
            </section>

            <f:if condition="{userStatistic}">
                <section class="mt-3 dashboard-section dashboard-user-statistic">
                    <f:render partial="Workflow/PersonalStatistics" arguments="{_all}"/>
                </section>
            </f:if>


            <f:if condition="{userInfo}">
                <f:then>
                    <section class="mt-3 dashboard-section dashboard-user-processes">
                        <div class="dashboard-processes-box-wrapper">
                            <div class="row g-4">
                                <div class="col-4">
                                    <f:if condition="{currentProcess}">
                                        <f:then>
                                            <f:link.action action="editMetadata" tabindex="0"  role="button" arguments="{process: currentProcess}">
                                                <div class="action-box p-4">
                                                    <h3><f:translate key="dashboard.action.continueProcess" /></h3>
                                                </div>
                                            </f:link.action>
                                        </f:then>
                                        <f:else>
                                            <div class="action-box p-4 disabled"
                                                 tabindex="0"
                                                 aria-disabled="true">
                                                <h3><f:translate key="dashboard.action.continueProcess" /></h3>
                                            </div>
                                        </f:else>
                                    </f:if>
                                </div>
                                <div class="col-4">

                                    <f:comment>
                                    <f:variable name="facetArguments"
                                                value="{wlb:facetArgument(facets: {
                                                0: {field: 'campaign_faceting', value: campaign.uid},
                                                1: {field: 'state_faceting', value: 'NEW'}
                                                },activeFacets: '')}"/>
                                    </f:comment>

                                    <f:variable name="facetArguments"
                                                value="{wlb:facetArgument(facets: {
                                                0: {field: 'campaign_faceting', value: campaign.uid}
                                                },activeFacets: '')}"/>

                                    <f:link.action action="listProcesses" tabindex="0" role="button"
                                                   arguments="{facetArguments}">
                                        <div class="action-box p-4">
                                            <h3><f:translate key="dashboard.action.newProcess" /></h3>
                                        </div>
                                    </f:link.action>
                                </div>
                                <div class="col-4">
                                    <f:link.action action="editRandomProcess" tabindex="0" role="button">
                                        <div class="action-box p-4">
                                            <h3><f:translate key="dashboard.action.randomProcess" /></h3>
                                        </div>
                                    </f:link.action>
                                </div>
                            </div>
                        </div>
                    </section>
                </f:then>
            </f:if>
        </div>
    </div>

</html>