<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{child} == 1">
    <f:then>
        <f:variable name="inputType">{metadataChild.inputtype}</f:variable>

        <f:if condition="{formValues.{metadataId}.{i}.{metadataChildId}.{j}}">
            <f:then>
                <f:variable name="value">{formValues.{metadataId}.{i}.{metadataChildId}.{j}}</f:variable>
            </f:then>
        </f:if>
    </f:then>
    <f:else>
        <f:variable name="inputType">{metadata.inputtype}</f:variable>

        <f:if condition="{formValues.{metadataId}.{i}}">
            <f:then>
                <f:variable name="value">{formValues.{metadataId}.{i}}</f:variable>
            </f:then>
        </f:if>
    </f:else>
</f:if>

<f:switch expression="{inputType}">
    <f:case value="text">
        <f:form.textfield
                id="{f:if(condition: '{child} == 1', then: 'meta-{metadataChildId}', else: 'meta-{metadataId}')}"
                class="form-control processForm"
                name="{f:if(condition: '{child} == 1', then: 'metadata[{metadataId}][{i}][{metadataChildId}][]', else: 'metadata[{metadataId}][]')}"
                value="{value}"
                placeholder=""
                required="{f:if(condition: '{required} == 1 && {child} != 1', then: 'true', else: 'false')}"
                pattern="{metadata.validation}"
                data-required="{f:if(condition: '{required} == 1 && {child} == 1', then: '1', else: '0')}"/>
    </f:case>
    <f:case value="textarea">
        <f:form.textarea
                id="{f:if(condition: '{child} == 1', then: 'meta-{metadataChildId}', else: 'meta-{metadataId}')}"
                class="form-control processForm"
                name="{f:if(condition: '{child} == 1', then: 'metadata[{metadataId}][{i}][{metadataChildId}][]', else: 'metadata[{metadataId}][]')}"
                value="{value}"
                placeholder=""
                required="{f:if(condition: '{required} == 1 && {child} != 1', then: 'true', else: 'false')}"
                pattern="{metadata.validation}"
                data-required="{f:if(condition: '{required} == 1 && {child} == 1', then: '1', else: '0')}"/>
    </f:case>
    <f:case value="date">
        <f:form.textfield
                id="{f:if(condition: '{child} == 1', then: 'meta-{metadataChildId}', else: 'meta-{metadataId}')}"
                class="form-control processForm datepicker"
                name="{f:if(condition: '{child} == 1', then: 'metadata[{metadataId}][{i}][{metadataChildId}][]', else: 'metadata[{metadataId}][]')}"
                value="{value}"
                placeholder=""
                required="{f:if(condition: '{required} == 1 && {child} != 1', then: 'true', else: 'false')}"
                pattern="{metadata.validation}"
                data-required="{f:if(condition: '{required} == 1 && {child} == 1', then: '1', else: '0')}"/>
    </f:case>
</f:switch>