<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{child} == 1">
    <f:then>
        <f:variable name="fieldMaxOccurs">{metadataChild.maxOccurs}</f:variable>
        <f:variable name="inputType">{metadataChild.inputtype}</f:variable>

        <f:if condition="{formValues.{metadataId}.{i}.{metadataChildId}.{j}}">
            <f:then>
                <f:variable name="value">{formValues.{metadataId}.{i}.{metadataChildId}.{j}}</f:variable>
            </f:then>
        </f:if>
    </f:then>
    <f:else>
        <f:variable name="fieldMaxOccurs">{metadata.maxOccurs}</f:variable>
        <f:variable name="inputType">{metadata.inputtype}</f:variable>

        <f:if condition="{formValues.{metadataId}.{i}}">
            <f:then>
                <f:variable name="value">{formValues.{metadataId}.{i}}</f:variable>
            </f:then>
        </f:if>
    </f:else>
</f:if>

<f:variable name="conditionFieldRequired">
    <f:if condition="{required} == 1 && ({child} != 1 || ({metadata.minOccurs} >= 1) && {i} < {metadata.minOccurs})">
        <f:then>true</f:then>
        <f:else>false</f:else>
    </f:if>
</f:variable>
<f:variable name="fieldRequired">{conditionFieldRequired -> f:format.trim()}</f:variable>

<f:switch expression="{inputType}">
    <f:case value="text">
        <f:form.textfield
                id="{f:if(condition: '{child} == 1', then: 'meta-{metadataChildId}', else: 'meta-{metadataId}')}"
                class="form-control processForm"
                name="{f:if(condition: '{child} == 1', then: 'metadata[{metadataId}][{i}][{metadataChildId}][]', else: 'metadata[{metadataId}][]')}"
                value="{value}"
                placeholder=""
                required="{fieldRequired}"
                pattern="{metadata.validation}"
                data-required="{f:if(condition: '{required} == 1 && {child} == 1', then: '1', else: '0')}"
                data-max="{fieldMaxOccurs}"
                data-lobid-field="{metadataChild.lobidField}"
                data-lobid-enabled="{metadata.lobidEnabled}"
                data-lobid-filter="{metadata.lobidFilter}"/>
    </f:case>
    <f:case value="textarea">
        <f:form.textarea
                id="{f:if(condition: '{child} == 1', then: 'meta-{metadataChildId}', else: 'meta-{metadataId}')}"
                class="form-control processForm"
                name="{f:if(condition: '{child} == 1', then: 'metadata[{metadataId}][{i}][{metadataChildId}][]', else: 'metadata[{metadataId}][]')}"
                value="{value}"
                placeholder=""
                required="{fieldRequired}"
                pattern="{metadata.validation}"
                data-required="{f:if(condition: '{required} == 1 && {child} == 1', then: '1', else: '0')}"
                data-max="{fieldMaxOccurs}"/>
    </f:case>
    <f:case value="date">
        <f:form.textfield
                id="{f:if(condition: '{child} == 1', then: 'meta-{metadataChildId}', else: 'meta-{metadataId}')}"
                class="form-control processForm datepicker"
                name="{f:if(condition: '{child} == 1', then: 'metadata[{metadataId}][{i}][{metadataChildId}][]', else: 'metadata[{metadataId}][]')}"
                value="{value}"
                placeholder=""
                required="{fieldRequired}"
                pattern="{metadata.validation}"
                data-required="{f:if(condition: '{required} == 1 && {child} == 1', then: '1', else: '0')}"
                data-max="{fieldMaxOccurs}"/>
    </f:case>
    <f:case value="checkbox">
        <f:if condition="{value} == 'true'">
            <f:then>
                <f:variable name="checked">checked</f:variable>
            </f:then>
            <f:else>
                <f:variable name="checked"></f:variable>
            </f:else>
        </f:if>
        <div class="form-check form-switch">
            <f:form.checkbox
                    id="{f:if(condition: '{child} == 1', then: 'meta-{metadataChildId}', else: 'meta-{metadataId}')}"
                    class="form-control processForm form-check-input"
                    name="{f:if(condition: '{child} == 1', then: 'metadata[{metadataId}][{i}][{metadataChildId}][{j}]', else: 'metadata[{metadataId}][{i}]')}"
                    value="true"
                    data-required="{f:if(condition: '{required} == 1 && {child} == 1', then: '1', else: '0')}"
                    checked="{checked}"
                    data-max="{fieldMaxOccurs}"/>
        </div>
    </f:case>
    <f:case value="select">
        <f:form.select
                id="{f:if(condition: '{child} == 1', then: 'meta-{metadataChildId}', else: 'meta-{metadataId}')}"
                class="form-control form-select processForm"
                name="{f:if(condition: '{child} == 1', then: 'metadata[{metadataId}][{i}][{metadataChildId}][]', else: 'metadata[{metadataId}][]')}"
                value="{value}"
                placeholder="Test"
                required="{fieldRequired}"
                data-required="{f:if(condition: '{required} == 1 && {child} == 1', then: '1', else: '0')}"
                data-max="{fieldMaxOccurs}">
            <f:if condition="{child} == 1">
                <f:then>
                    <f:variable name="options">{metadataChild.options}</f:variable>
                </f:then>
                <f:else>
                    <f:variable name="options">{metadata.options}</f:variable>
                </f:else>
            </f:if>
            <f:form.select.option value=""></f:form.select.option>
            <f:if condition="{options}">
                <f:for each="{options}" as="option" key="key" iteration="iteration">
                    <f:form.select.option value="{option}">
                        <f:if condition="{child} == 1">
                            <f:then>
                                {rulesetDefinitions.{metadataChildId}.options.{option}}
                            </f:then>
                            <f:else>
                                {rulesetDefinitions.{metadataId}.options.{option}}
                            </f:else>
                        </f:if>

                    </f:form.select.option>
                </f:for>
            </f:if>
        </f:form.select>
    </f:case>
</f:switch>