{namespace wlb=Wlb\Crowdsourcing\ViewHelpers}

<f:comment>
    <f:debug>{_all}</f:debug>
</f:comment>

<wlb:userInfo as="userInfo" />

<section class="container-fluid">

    <div class="meta-nav py-2">
            <div class="d-flex justify-content-end gap-3">
                <a href="#" class="text-decoration-none text-secondary">Zur Website</a>
                <a href="#" class="text-decoration-none text-secondary">Feedback</a>
                <a href="#" class="text-decoration-none text-secondary">Datenschutz</a>
                <a href="#" class="text-decoration-none text-secondary">Barrierefreiheit</a>
                <a href="#" class="text-decoration-none text-secondary">Impressum</a>
            </div>
    </div>

    <div class="main-nav-wrapper bg-gray">
            <nav class="main-nav">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <a href="{settings.navigation.wlbWebsiteUrl}" target="_blank" aria-label="WLB-Stuttgart Website">
                            <f:image src="EXT:crowdsourcing/Resources/Public/Icons/wlb-logo.svg" alt="WLB Logo" height="40"/>
                        </a>
                    </div>

                    <div class="d-flex gap-4 main-nav-links">
                        <f:link.action id="landingPage"
                                       pageUid="{settings.navigation.crowdsourcingRoot}"
                                       extensionName="crowdsourcing"
                                       pluginName="campaigns"
                                       controller="Workflow"
                                       action="landingPage"
                                       class="{f:if(condition:'{currentView} == \'landingPage\'',then:'active',else:'inactive')}">
                            <f:format.case mode="upper">
                                <f:translate extensionName="crowdsourcing" key="navigation.home" />
                            </f:format.case>
                        </f:link.action>

                        <f:link.action id="listProcesses"
                                       pageUid="{settings.navigation.crowdsourcingRoot}"
                                       extensionName="crowdsourcing"
                                       pluginName="campaigns"
                                       controller="Workflow"
                                       action="listProcesses"
                                       class="{f:if(condition:'!{userInfo}',then:'login',else:'')} {f:if(condition:'{currentView} == \'listProcesses\'',then:'active',else:'inactive')}">
                            <f:format.case mode="upper">
                                <f:translate extensionName="crowdsourcing" key="navigation.poster" />
                            </f:format.case>
                        </f:link.action>

                        <f:link.action id="dashboard"
                                       pageUid="{settings.navigation.crowdsourcingRoot}"
                                       extensionName="crowdsourcing"
                                       pluginName="campaigns"
                                       controller="Workflow"
                                       action="dashboard"
                                       class="{f:if(condition:'{currentView} == \'dashboard\'',then:'active',else:'inactive')}">
                            <f:format.case mode="upper">
                                <f:translate extensionName="crowdsourcing" key="navigation.dashboard" />
                            </f:format.case>
                        </f:link.action>
                    </div>

                    <div class="d-flex gap-2">
                        <f:if condition="{userInfo}">
                            <f:then>
                                <f:link.page pageUid="{settings.crowdsourcingLogin}" additionalParams="{logintype: 'logout'}" class="btn login" title="Logout">
                                    Abmelden
                                </f:link.page>
                                <div class="dropdown">
                                    <a href="#" id="userDropdown" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/typo3conf/ext/crowdsourcing/Resources/Public/Icons/avatar.svg" alt="User avatar" width="40" height="40" class="rounded-circle">
                                    </a>
                                    <ul id="userDropdownMenu" class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="userDropdown">
                                        <li>
                                            <f:link.page pageUid="{settings.navigation.user.profile}" class="dropdown-item">Profil bearbeiten</f:link.page>
                                        </li>
                                        <li>
                                            <f:link.page pageUid="{settings.navigation.user.password}" class="dropdown-item">Passwort ändern</f:link.page>
                                        </li>
                                        <li>
                                            <f:link.page pageUid="{settings.navigation.user.delete}" class="dropdown-item">Konto löschen</f:link.page>
                                        </li>
                                    </ul>
                                </div>
                            </f:then>
                            <f:else>
                                <a href="{f:uri.action(action:'landingPage')}" type="button" title="Login" class="btn login">
                                    Anmelden
                                </a>
                                <a href="#" title="Register" class="btn btn-primary register">
                                    Registrieren
                                </a>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </nav>
    </div>

</section>