<!--
SPDX-FileCopyrightText: 2026 Württembergische Landesbibliothek

SPDX-License-Identifier: GPL-3.0-or-later
-->

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

{namespace wlb=Wlb\Crowdsourcing\ViewHelpers}

<f:layout name="Modal" />

<f:section name="main">

    <script>
        var showLoginDialog = true;
    </script>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="recoceryModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" data-loginerror="{f:if(condition:'{cookieWarning} || {messageKey} == \'error\'',then:'true',else:'false')}">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="recoceryModalLabel">
                        <f:translate key="change_password_header"/>
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <f:translate key="feuser.password.message.rules" extensionName="Crowdsourcing" arguments="{0: settings.newPasswordMinLength}"/>
                    </p>

                    <f:render partial="ValidationErrors"/>

                    <f:form id="changePassword" action="changePassword" method="post">
                        <div>
                            <label for="newPass">
                                <f:translate key="newpassword_label1"/>
                            </label>
                            <f:form.password class="form-control" name="newPass" autocomplete="new-password"/>
                        </div>
                        <div>
                            <label for="newPassRepeat">
                                <f:translate key="newpassword_label2"/>
                            </label>
                            <f:form.password class="form-control" name="newPassRepeat" autocomplete="new-password"/>
                        </div>
                        <f:form.hidden name="hash" value="{hash}"/>
                    </f:form>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" name="submit" form="changePassword">{f:translate(key: 'change_password')}</button>
                </div>
            </div>
        </div>
    </div>

</f:section>

</html>

</html>
