<!--
SPDX-FileCopyrightText: 2026 Württembergische Landesbibliothek

SPDX-License-Identifier: GPL-3.0-or-later
-->

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:be.pageRenderer
            includeJsFiles="{
            0: '{f:uri.resource(path: \'JavaScript/Jquery/jQuery-3.7.1.min.js\')}'
        }"
            includeCssFiles="{
            0: '{f:uri.resource(path: \'CSS/Bootstrap/bootstrap.min.css\')}',
            1: '{f:uri.resource(path: \'CSS/Fontawesome/all.min.css\')}'
        }"
    />

    <div class="container-fluid mt-4">
        <f:comment>
            <f:comment>Show removed ruleset metadata</f:comment>
            <div class="bg-danger">
                <f:for each="{rulesetRemoved}" as="removedMetadata" key="docType">
                    <f:if condition="{removedMetadata}">
                        <f:then>
                            <h3>{docType}</h3>
                            <span>Es wurden die folgenden Metadaten aus dem Regelsatz entfernt, beim Speichern der Configuration geht das Metadatum verloren:</span>
                            <f:for each="{removedMetadata}" as="removedData" key="metadataId">
                                <div class="row">
                                    {metadataId}
                                    {removedData.label}
                                    {removedData.active}
                                    {removedData.minOccurs}
                                    {removedData.maxOccurs}
                                    {removedData.regex}
                                </div>
                            </f:for>
                        </f:then>
                    </f:if>
                </f:for>
            </div>
        </f:comment>


        <f:form action="save" name="configuration">
            <h2>Metadaten-Konfiguration</h2>

            <div class="accordion mb-2" id="metadataAccordion">
                <f:for each="{config}" as="documentTypeConfig" key="docType">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{docType}" aria-expanded="true" aria-controls="collapse_{docType}">
                                {docType}
                                <f:if condition="{missingDocType.{docType}}">
                                    <f:then>
                                        <span class="badge badge-danger m-lg-2">Removed</span>
                                    </f:then>
                                </f:if>
                            </button>
                        </h2>
                        <div id="collapse_{docType}" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <!-- Metadaten-Konfiguration -->
                                <div class="metadata-container" data-doc-type="{docType}">
                                    <f:for each="{documentTypeConfig}" as="metadata" key="metadataId">
                                        <div class="metadata-field-wrapper" data-metadata-id="{metadataId}">
                                            <f:render partial="Backend/Configuration/FieldForm" arguments="{_all}"></f:render>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </div>
                    </div>

                </f:for>
            </div>
            <!-- Speichern -->
            <f:form.submit class="btn btn-primary" value="Speichern" />
        </f:form>

    </div>

</html>