<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="metadataInfo"></f:variable>
<f:if condition="{rulesetAdded.{docType}.{metadataId}}">
    <f:then>
        <f:variable name="metadataInfo">rulesetAdded</f:variable>
    </f:then>
</f:if>
<f:if condition="{rulesetRemoved.{docType}.{metadataId}}">
    <f:then>
        <f:variable name="metadataInfo">rulesetRemoved</f:variable>
    </f:then>
</f:if>

<div class="{metadataInfo} card p-2">
    <div class="row card-body">
        <h4>
            {metadata.label} ({metadataId})

            <f:if condition="{rulesetAdded.{docType}.{metadataId}}">
                <f:then>
                    <span class="badge badge-info">New</span>
                </f:then>
            </f:if>
            <f:if condition="{rulesetRemoved.{docType}.{metadataId}}">
                <f:then>
                    <span class="badge badge-danger">Removed</span>
                </f:then>
            </f:if>
        </h4>
    </div>
    <f:if condition="!{rulesetRemoved.{docType}.{metadataId}}">
        <f:then>
            <f:form.hidden name="metadata[{docType}][{metadataId}][label]" value="{metadata.label}"/>
            <div class="row mb-3">
                <div class="col-md-1">
                    <div class="form-check form-switch">
                        <f:if condition="!{childItem}">
                            <f:then>
                                <f:form.checkbox
                                        id="meta-{metadataId}-active"
                                        class="form-check-input"
                                        name="metadata[{docType}][{metadataId}][active]"
                                        value="1"
                                        checked="{metadata.active}" />
                                <label class="form-check-label" for="meta-{metadataId}-active">Aktiv</label>
                            </f:then>
                        </f:if>
                    </div>
                </div>
                <div class="col-md-1">
                    <label for="meta-{metadataId}-inputtype" class="form-label">Feldtyp</label>
                    <f:form.select id="meta-{metadataId}-inputtype"
                                   class="form-control"
                                   name="metadata[{docType}][{metadataId}][inputtype]"
                                   value="{metadata.inputtype}">
                        <f:form.select.option value="text">Text</f:form.select.option>
                        <f:form.select.option value="textarea">Textarea</f:form.select.option>
                        <f:form.select.option value="date">Date</f:form.select.option>
                        <f:form.select.option value="checkbox">Checkbox</f:form.select.option>
                        <f:form.select.option value="select">Selectbox</f:form.select.option>
                    </f:form.select>
                </div>
                <div class="col-md-1">
                    <label for="meta-{metadataId}-minOccurs" class="form-label">Min</label>
                    <f:form.textfield
                            id="meta-{metadataId}-minOccurs"
                            class="form-control"
                            name="metadata[{docType}][{metadataId}][minOccurs]"
                            value="{metadata.minOccurs}"
                            type="number"
                            min="0" />
                </div>
                <!-- Anzahl des Vorkommens -->
                <div class="col-md-1">
                    <label for="meta-{metadataId}-maxOccurs" class="form-label">Max</label>
                    <f:form.textfield
                            id="meta-{metadataId}-maxOccurs"
                            class="form-control"
                            name="metadata[{docType}][{metadataId}][maxOccurs]"
                            value="{metadata.maxOccurs}"
                            type="number"
                            min="1" />
                </div>

                <div class="col-md-3">
                    <label for="meta-{metadataId}-tab" class="form-label">Tabname</label>
                    <f:form.textfield
                            id="meta-{metadataId}-tab"
                            class="form-control field-tab-name"
                            name="metadata[{docType}][{metadataId}][tab]"
                            value="{metadata.tab}"
                            placeholder="Name des Tabs für Sortierung"
                            additionalAttributes="{data-doc-type: docType, data-metadata-id: metadataId, data-is-meta-field: '1'}"/>
                </div>

                <div class="col-md-1">
                    <label for="meta-{metadataId}-fieldTabPosition" class="form-label">Position</label>
                    <f:form.textfield
                            id="meta-{metadataId}-fieldTabPosition"
                            class="form-control field-tab-position"
                            name="metadata[{docType}][{metadataId}][fieldTabPosition]"
                            value="{metadata.fieldTabPosition}"
                            type="number"
                            min="1"
                            additionalAttributes="{data-doc-type: docType, data-metadata-id: metadataId}"/>
                </div>

                <div class="col-md-2">
                    <label for="meta-{metadataId}-facet" class="form-label">Facet</label>
                    <f:form.textfield
                            id="meta-{metadataId}-facet"
                            class="form-control"
                            name="metadata[{docType}][{metadataId}][facet]"
                            value="{metadata.facet}"
                            placeholder="Use as facet ( $firstname $lastname or $this)"/>
                </div>

                <div class="col-xs-6">
                    <label for="meta-{metadataId}-options" class="form-label">Options</label>
                    <f:form.select
                            id="meta-{metadataId}-options"
                            class="form-control"
                            name="metadata[{docType}][{metadataId}][options]"
                            placeholder="Test"
                            options="{metadata.options}"
                            selectAllByDefault="true"
                            multiple="true"/>
                </div>

                <!-- Regulärer Ausdruck -->
                <div class="col-xs-6">
                    <label for="meta-{metadataId}-validation" class="form-label">Validierung (HTML5)</label>
                    <f:form.textfield
                            id="meta-{metadataId}-validation"
                            class="form-control"
                            name="metadata[{docType}][{metadataId}][validation]"
                            value="{metadata.validation}"
                            placeholder="z.B. ^[A-Za-z]+$" />
                </div>

                <f:comment>Text to help user</f:comment>
                <div class="col-xs-6">
                    <label for="meta-{metadataId}-helptext" class="form-label">Hilfetext</label>
                    <f:form.textarea
                            id="meta-{metadataId}-helptext"
                            class="form-control"
                            name="metadata[{docType}][{metadataId}][helptext]"
                            value="{metadata.helptext}"
                            placeholder="Hilfetext - URLs als BBCode [url=http://example.com]Link Text[/url]" />
                </div>
            </div>
        </f:then>
    </f:if>

    <f:if condition="{metadata.children}">
        <div class="row mb-2 align-items-end">
            <div class="col-md-3">
                <div class="form-check form-switch mt-4">
                    <f:form.checkbox
                            id="meta-{metadataId}-lobidEnabled"
                            class="form-check-input"
                            name="metadata[{docType}][{metadataId}][lobidEnabled]"
                            value="1"
                            checked="{metadata.lobidEnabled}" />
                    <label class="form-check-label" for="meta-{metadataId}-lobidEnabled">lobid Autovervollständigung aktivieren</label>
                </div>
            </div>
            <div class="col-md-3">
                <label for="meta-{metadataId}-lobidFilter" class="form-label">lobid Filter</label>
                <f:form.textfield
                        id="meta-{metadataId}-lobidFilter"
                        class="form-control"
                        name="metadata[{docType}][{metadataId}][lobidFilter]"
                        value="{metadata.lobidFilter}"
                        placeholder="z.B. type:Person" />
            </div>
        </div>
        <h4>Untergeordnete Metadatenkonfiguration</h4>
        <div class="accordion mb-2" id="metadataChildAccordion">
            <f:for each="{metadata.children}" as="metadataChild" key="metadataChildId">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{metadataChildId}" aria-expanded="true" aria-controls="collapse_{metadataChildId}">
                            {metadataChild.label} ({metadataChildId})
                        </button>
                    </h2>
                    <div id="collapse_{metadataChildId}" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <!-- Metadaten-Konfiguration -->
                            <div class="metadata-child-container">
                                <f:render partial="Backend/Configuration/ChildForm" arguments="{_all}"></f:render>
                            </div>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>

</div>