<!--
SPDX-FileCopyrightText: 2026 Württembergische Landesbibliothek

SPDX-License-Identifier: GPL-3.0-or-later
-->

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="LoggedIn"/>

<f:section name="Main">
	<h2 class="px-3">Konto löschen</h2>

	<f:form action="save" name="user" id="sfrForm" class="px-3" object="{user}" enctype="multipart/form-data">
		<f:render partial="FormErrors" arguments="{for: 'user'}"/>
		<f:render partial="FieldError" arguments="{field: 'uid'}"/>

		<div class="form-row">
			<f:for each="{settings.fields.selected}" as="fieldName" iteration="iteration">
				<f:alias map="{options: '{settings.fields.configuration.{fieldName}}'}">
					<f:render partial="Form/{options.partial}"
										arguments="{user: user, fieldName: fieldName, options: options, settings: settings, iteration: iteration}"/>
				</f:alias>
			</f:for>
		</div>
		<div class="d-flex justify-content-end gap-2">
			<f:render partial="Form/Delete" arguments="{user: user, fieldName: 'delete'}"/>
			<f:render partial="Form/Cancel" arguments="{user: user, fieldName: 'cancel'}"/>
		</div>
	</f:form>
</f:section>

</html>
