<div class="form-group">
    <label for="campaignTitle">Campaign Name</label>
    <f:form.textfield
            property="title"
            class="form-control"
            id="campaignTitle"
            placeholder="Enter a campaign title"
            required = "1" />
</div>

<div class="form-group">
    <label for="campaignSubtitle">Subtitle</label>

    <f:form.textarea
            property="subtitle"
            class="form-control"
            id="campaignSubtitle"
            placeholder="Enter a subtitle"
            rows="4"
            required = "0" />
</div>

<div class="form-group">
    <label for="campaignShortDescription">Short description</label>

    <f:form.textarea
            property="shortDescription"
            class="form-control"
            id="campaignShortDescription"
            placeholder="Enter a short description of the campaign"
            rows="4"
            required = "1" />
</div>

<div class="form-group">
    <label for="campaignDescription">Description</label>

    <f:form.textarea
            property="description"
            class="form-control"
            id="campaignDescription"
            placeholder="Enter a description of the campaign"
            rows="8"
            required = "1" />
</div>
