<!--
SPDX-FileCopyrightText: 2026 Württembergische Landesbibliothek

SPDX-License-Identifier: GPL-3.0-or-later
-->

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Frontend"/>

<f:section name="main">

    <f:render partial="Workflow/Navigation" arguments="{_all}"/>

    <main class="container-fluid my-5 landing-page-main">
        <div class="content-wrapper">
            <h1>{landingPageTitleInfo.header}</h1>
            <p><f:format.stripTags allowedTags="<a>,<span>">{landingPageTitleInfo.bodytext}</f:format.stripTags></p>
            <f:link.action action="dashboard" class="btn btn-lg btn-primary start-now-button">
                    Jetzt Starten
            </f:link.action>
        </div>

        <div class="info-box-wrapper">
            <div class="row g-4">
               <f:for each="{infoBoxes}" as="infoBox" key="infoBoxKey">
                   <div class="col-6 col-md-4 col-lg-2">
                       <div class="info-box p-4" data-bs-toggle="modal" data-bs-target="#info-box-{infoBoxKey}" tabindex="0" role="button" aria-label="Klicken Sie für ...">
                           <h3>{infoBox.header}</h3>
                       </div>
                   </div>
               </f:for>
            </div>
        </div>
    </main>


    <f:for each="{infoBoxes}" as="infoBox" key="infoBoxKey">
    <div class="modal fade" id="info-box-{infoBoxKey}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered info-box-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>{infoBox.header}</h3> <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <f:format.html>{infoBox.bodytext}</f:format.html>
                </div>
            </div>
        </div>
    </div>
    </f:for>

</f:section>

</html>
