<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Frontend"/>

<f:section name="main">

    <f:render partial="Workflow/Navigation" arguments="{_all}"/>

    <main class="container-fluid my-5 landing-page-main">
        <div class="content-wrapper">
            <h1>Protest sichtbar machen</h1>
            <p> Kampagne wurde am TT.MM.YYYY eröffnet.</p>
            <button class="btn btn-lg btn-primary start-now-button">Jetzt Starten</button>
        </div>

        <div class="info-box-wrapper">
            <div class="row g-4">
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="info-box p-4" data-bs-toggle="modal" data-bs-target="#info-box-details" tabindex="0" role="button" aria-label="Klicken Sie für ...">
                        <h3>Worum geht's?</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="info-box p-4" data-bs-toggle="modal" data-bs-target="#info-box-details" tabindex="0" role="button" aria-label="Klicken Sie für ...">
                        <h3>Wie mitmachen?</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="info-box p-4" data-bs-toggle="modal" data-bs-target="#info-box-details" tabindex="0" role="button" aria-label="Klicken Sie für ...">
                        <h3>Wozu tragen die Ergebnisse bei?</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="info-box p-4" data-bs-toggle="modal" data-bs-target="#info-box-details" tabindex="0" role="button" aria-label="Klicken Sie für ...">
                        <h3>Was passiert mit den Ergebnissen?</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <div class="info-box p-4" data-bs-toggle="modal" data-bs-target="#info-box-details" tabindex="0" role="button" aria-label="Klicken Sie für ...">
                        <h3>Was passiert mit den Ergebnissen?</h3>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-2">

                    <div class="info-box p-4" data-bs-toggle="modal" data-bs-target="#info-box-details" tabindex="0" role="button" aria-label="Klicken Sie für ...">
                        <h3>FAQs</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="modal fade" id="info-box-details" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Hier stehen die ausführlichen Informationen.</p>
                </div>
            </div>
        </div>
    </div>

</f:section>

</html>
