<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:wlb="http://typo3.org/ns/Wlb/Crowdsourcing/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Frontend"/>

<f:section name="main">

    <f:render partial="Workflow/Navigation" arguments="{_all}"/>

    <div class="container-fluid">
        <div class="process-list-container">
            <section class="search-section">
                <f:if condition="{errorMessage}">
                    <f:then>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Warnung</strong>
                            <f:if condition="{errorMessage} === 'editAnotherProcess'">
                                <f:then>
                                    Sie haben bereits einen Vorgang in Bearbeitung. Möchten Sie die Bearbeitung fortsetzen?
                                    <f:link.action action="editMetadata" arguments="{process: processCurrentUserEditing}" class="btn btn-outline-secondary btn-sm mt-auto">
                                        Fortsetzen
                                    </f:link.action>
                                    <f:if condition="{requestedProcess}">
                                        <f:then>
                                            <f:link.action action="abortAndEditNewProcess" arguments="{currentProcess: currentProcess, newProcess: requestedProcess}" class="btn btn-outline-secondary btn-sm mt-auto">
                                                Abbrechen
                                            </f:link.action>
                                        </f:then>
                                        <f:else>
                                        </f:else>
                                    </f:if>

                                </f:then>
                            </f:if>
                            <f:if condition="{errorMessage} === 'processTaken'">
                                <f:then>
                                    Prozess wird bereits bearbeitet
                                </f:then>
                            </f:if>
                            <f:if condition="{errorMessage} === 'noRandomProcessAvailable'">
                                <f:then>
                                    Es konnte kein zufälliger Prozess ausgewählt werden.
                                </f:then>
                            </f:if>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </f:then>
                </f:if>

                <f:form action="listProcesses"
                        controller="Workflow"
                        pluginName="Campaigns"
                        method="post"
                        name="searchForm"
                        id="searchForm">

                    <div class="row g-2">
                        <div class="col">
                            <f:form.textfield name="query"
                                              id="searchInput"
                                              class="form-control flex-grow-1"
                                              placeholder="Enter search term"
                                              aria-label="Search"
                                              value="{query}" />
                        </div>
                        <div class="col-auto searchButtons">
                            <a href="#"
                               class="searchSubmit link-with-icon"
                               onclick="document.getElementById('searchForm').submit();"
                               aria-label="Search">
                                <f:image src="EXT:crowdsourcing/Resources/Public/Icons/search.svg" aria-hidden="true" />
                            </a>
                            <a href="#"
                               class="searchSubmit link-with-icon process-list-filter-btn"
                               onclick=""
                               aria-label="Filter">
                                <f:image src="EXT:crowdsourcing/Resources/Public/Icons/filter.svg" aria-hidden="true" />
                            </a>
                            <a href="#"
                               class="searchSubmit link-with-icon process-list-sort-btn"
                               onclick=""
                               aria-label="Sortierung">
                                <f:image src="EXT:crowdsourcing/Resources/Public/Icons/sort.svg" aria-hidden="true" />
                            </a>
                        </div>
                    </div>
                </f:form>
            </section>

            <f:if condition="{processes}">
                <f:then>
                    <!-- Facet area -->
                    <section class="facets-section">
                        <div class="row mb-4 mt-4">
                            <f:for each="{facets}" key="facetLabel" as="facetFields">
                                <f:for each="{facetFields}" key="facetField" as="facet">
                                    <f:if condition="{wlb:isFacetVisible(facetCounters: '{facetCounters}', facetField:'{facetField}', activeFacets:'{activeFacets}')}">
                                        <div class="col">
                                            <h3><f:translate key="search.facetLabel.{facetLabel}" default="{facetLabel}" /></h3>
                                            <ul class="facets">
                                            <f:for each="{facet}" key="facetName" as="value" iteration="iterator">
                                                <f:if condition="{facetCounters.{facetField}.{iterator.index}} != 0">
                                                    <f:then>
                                                        <li>
                                                            <f:if condition="{wlb:isFacetActive(facetValue: '{value}',facetField:'{facetField}', activeFacets:'{activeFacets}')}">
                                                                <f:then>
                                                                    <v:variable.set name="facetActive" value="active"/>
                                                                </f:then>
                                                                <f:else>
                                                                    <v:variable.set name="facetActive" value=""/>
                                                                </f:else>
                                                            </f:if>

                                                            <f:variable name="facetArray" value="{wlb:facetArgument(facetValue: '{value}', facetField:'{facetField}', activeFacets:'{activeFacets}')}"/>
                                                            <f:variable name="facetWhithQueryArray" value="{v:iterator.merge(a: facetArray, b: {query: query})}" />

                                                            <f:link.action action="listProcesses"
                                                                           arguments="{facetWhithQueryArray}"
                                                                           class="{facetActive}">
                                                                <f:if condition="{facetActive} == 'active'">
                                                                    <f:then>
                                                                        <i class="fa-solid fa-square-xmark"></i>
                                                                    </f:then>
                                                                    <f:else>
                                                                        <i class="fa-regular fa-square"></i>
                                                                    </f:else>
                                                                </f:if>
                                                                <f:if condition="{facetField} == 'state_faceting'">
                                                                    <f:then>
                                                                        <f:translate key="process.state.{value}" default="{value}" />
                                                                    </f:then>
                                                                    <f:else>
                                                                        {value}
                                                                    </f:else>
                                                                </f:if>
                                                                ({facetCounters.{facetField}.{iterator.index}})
                                                            </f:link.action>
                                                        </li>
                                                    </f:then>
                                                </f:if>
                                            </f:for>
                                            </ul>
                                        </div>
                                    </f:if>
                                </f:for>
                            </f:for>
                        </div>
                    </section>

                    <main class="process-list-section">
                        <ul class="list-unstyled row">
                            <f:for each="{processes}" as="process">
                                <li class="col-xl-2 col-lg-4 col-md-6 col-sm-6 d-flex">
                                    <div class="card d-flex flex-column w-100">
                                        <div class="card-image">
                                        <f:if condition="{process.images}">
                                            <f:then>
                                                <img src="{process.thumbsImageInfos.0.image}" class="card-img-top carousel-image" />
                                            </f:then>
                                            <f:else>
                                                <div class="card-img-left" style="width: 100%; height: 200px; display: flex; justify-content: center; align-items: center; background-color: #e0e0e0; border: 0px solid #333;">
                                                    <i class="fas fa-image" style="font-size: 50px; color: #999;" aria-label="Image not available"></i>
                                                </div>
                                            </f:else>
                                        </f:if>
                                        </div>

                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title">{process.metadataForDisplay.signatur}</h5>
                                            <p><f:translate key="process.type.{process.type}" /></p>

                                            <f:if condition="(!{process.feUser} || {process.feUser} == {currentUser}) && {editAllowedByCurrentUser.{process.uid}} && {process.state} != 'COMPLETED'">
                                                <f:then>
                                                    <f:link.action action="editMetadata" arguments="{process: process}" class="btn btn-outline-secondary btn-sm mt-auto">
                                                        <f:if condition="{process.feUser} == {currentUser}">
                                                            <f:then>
                                                                Bearbeitung fortsetzen
                                                            </f:then>
                                                            <f:else>
                                                                <f:translate key="process.button.edit" />
                                                            </f:else>
                                                        </f:if>
                                                    </f:link.action>
                                                </f:then>
                                                <f:else>
                                                    <f:if condition="{process.state} == 'COMPLETED'}">
                                                        <f:then>
                                                            <f:link.action action="showProcessDetails" arguments="{process: process}" class="btn btn-outline-secondary btn-sm mt-auto">
                                                                Betrachten
                                                            </f:link.action>
                                                        </f:then>
                                                        <f:else>
                                                            <f:if condition="{editAllowedByCurrentUser.{process.uid}}">
                                                                <f:then>
                                                                    <button class="btn btn-outline-secondary btn-sm mt-auto" disabled>Aktuell in Bearbeitung</button>
                                                                </f:then>
                                                                <f:else>
                                                                    <button class="btn btn-outline-secondary btn-sm mt-auto" disabled>Wurde bereits bearbeitet</button>
                                                                </f:else>
                                                            </f:if>
                                                        </f:else>
                                                    </f:if>
                                                </f:else>
                                            </f:if>
                                        </div>
                                </div>
                            </li>
                            </f:for>
                        </ul>

                        <f:render partial="Workflow/Pagination" arguments="{_all}"/>
                    </main>
                </f:then>
                <f:else>
                    <main class="process-list-section pt-4 pb-4">
                        <div class="alert alert-warning justify-content-center pt-4 pb-4" role="alert">
                            Leider konnten keine Suchergebnisse gefunden werden.
                        </div>
                    </main>
                </f:else>
            </f:if>
        </div>
    </div>

</f:section>
</html>