<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
         data-namespace-typo3-fluid="true">

    <f:layout name="Frontend"/>

    <f:section name="main">

        <div class="container">
            <div class="row p-5">
                <div class="col-md-12 col-lg-5">
                    <f:if condition="{campaign.image}">
                        <f:then>
                            <img src="{campaign.image}" class="img-fluid" alt="" style="object-fit: cover; height: 100%; width: 60%;"
                                 class="img-fluid w-100 w-md-60 w-lg-70">
                        </f:then>
                        <f:else>
                            <div class="img-fluid" style="width: 200px; height: 200px; display: flex; justify-content: center; align-items: center; background-color: #e0e0e0; border: 0px solid #333;">
                                <i class="fas fa-image" style="font-size: 50px; color: #999;" aria-label="Image not available"></i>
                            </div>
                        </f:else>
                    </f:if>
                </div>

                <div class="col-md-12 col-lg-7">
                    <div class="mt-sm-2">
                        <h1 class="h1">{campaign.title}</h1>
                        <f:if condition="{campaign.subtitle}">
                            <h2 class="h2">{campaign.subtitle}</h2>
                        </f:if>
                        <f:if condition="{campaign.description}">
                            <div>{campaign.description}</div>
                        </f:if>
                        <div class="col-md-5 col-lg-4 order-md-last">
                            <a href="#">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">Plakate</span>
                                    <span class="badge bg-primary rounded-pill">{campaign.processCount}</span>
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </f:section>

</html>