/* ibm-plex-sans-300 - latin */
:root {
    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 500;
    --font-bold: 600;

    --color-btn-primary: #4BACC2;
    --color-black: #000;
    --color-background: #D9DADB;
    --color-box-background: #FAF9F7;

}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/ibm-plex-sans-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ibm-plex-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/ibm-plex-sans-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ibm-plex-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../Fonts/ibm-plex-sans-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ibm-plex-sans-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/ibm-plex-sans-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ibm-plex-sans-condensed-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../Fonts/ibm-plex-sans-condensed-v14-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ibm-plex-sans-condensed-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/ibm-plex-sans-condensed-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ibm-plex-sans-condensed-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('../Fonts/ibm-plex-sans-condensed-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ibm-plex-sans-condensed-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('../Fonts/ibm-plex-sans-condensed-v14-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
    font-size: 10px;
}

body {
    /* background-color: #e6e9ed; */
    /* background-color: #c8c8c8; */
    background-color: var(--color-background);

    font-family: IBM Plex Sans, sans-serif;
    font-weight: var(--font-regular);
    font-size: 1.8rem;
    line-height: 1.5;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-weight: var(--font-semibold);
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h1 {
    font-size: 7.2rem;
}

.h2, h2 {
    font-size: 2.4rem;
}

.h3, h3 {
    font-size: 2.4rem;
}

.h5, h5 {
    font-size: 1.8rem;
}

.btn-group-sm > .btn, .btn-sm {
    font-size: 1.6rem;
    border-radius: 0;
}

#crowdsourcing .container-fluid {
    padding-right: var(--bs-gutter-x,10%);
    padding-left: var(--bs-gutter-x, 10%);
}

.main-nav .logo a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.main-nav .gap-4 {
    gap: 5.5rem !important;
}

.main-nav-links a {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-weight: var(--font-semibold);
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #000;
}

.main-nav-links a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
    text-decoration-color: var(--color-btn-primary);
}

.main-nav-links a.active {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
    text-decoration-color: var(--color-btn-primary);
}

.main-nav .login,
.main-nav .register {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-size: 1.8rem;
    font-weight: var(--font-regular);
    letter-spacing: inherit;
}

#crowdsourcing .btn-primary {
    color: #fff;
    background-color: var(--color-btn-primary);
    border-color:  var(--color-btn-primary);
}

#crowdsourcing .meta-nav {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-size: 16px;
    font-weight: var(--font-light);
    letter-spacing: inherit;
    text-decoration: none;
}

#crowdsourcing .meta-nav .text-secondary {
    color: #000000 !important;
}

#crowdsourcing .main-nav {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 5px;
}

#crowdsourcing .main-nav .d-flex.gap-4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#crowdsourcing .main-nav .d-flex.justify-content-between {
    position: relative;
    height: 40px;
}


#crowdsourcing .landing-page-main .content-wrapper {
    text-align: center;
    /* max-width: 800px; */
    margin: 80px auto;
    padding: 0 15px;
}

#crowdsourcing .landing-page-main .content-wrapper h1 {
}

#crowdsourcing .landing-page-main .content-wrapper p {
    letter-spacing: -0.02em;
    line-height: 36px;
    font-weight: var(--font-light);
    max-width: 65%;
    margin: 1rem auto 0;
    text-align: center; /* statt center */
    display: block;   /* wichtig für konsistente Breite */

}

#crowdsourcing .landing-page-main .start-now-button {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-size: 2.4rem !important;
    font-weight: var(--font-regular);
    line-height: inherit;
    letter-spacing: normal;
    text-decoration: none;
    margin-top: 24px;
}


#crowdsourcing .landing-page-main .info-box-wrapper .row>div {
    padding-left: calc(var(--bs-gutter-x) * 0.3) !important;
    padding-right: calc(var(--bs-gutter-x) * 0.3) !important;
}

#crowdsourcing .landing-page-main .info-box {
    background-color: white;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#crowdsourcing .landing-page-main .info-box:focus {
    transform: translateY(-3px);
}


#crowdsourcing .landing-page-main .info-box::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 16px;     /* Abstand vom unteren Rand */
    right: 16px;      /* Abstand vom rechten Rand */
    background-image: url('../Icons/link-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    aria-hidden: true;
}


#crowdsourcing .landing-page-main .info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#crowdsourcing .landing-page-main .info-box h3 {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-size: 2.4rem;
    font-weight: var(--font-semibold);
    letter-spacing: normal;
    margin-bottom: 0.5rem;
}

#crowdsourcing .process-list-container .search-section {
    padding-top: 16px;

}

#crowdsourcing .process-list-container .facets-section {
}

#crowdsourcing .process-list-container .process-list-section {
}

#searchInput {
    background-color: white;
    border: 2px solid var(--color-background);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.process-list-container .searchButtons a {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
}

.process-list-container .searchButtons a img {
    margin-top: 8px;
    margin-left: 8px;
}

.process-list-container .link-with-icon:hover img {
    transform: scale(1.2);
}

.process-list-container .process-list-section ul {
    padding: 1rem;
}

.process-list-container .process-list-section li {
    padding: 0.3rem;
}

.process-list-container .process-list-section .card-body {
    padding: 0.5rem;
}

.process-list-container .process-list-section .card-image {
    padding: 0.5rem;
}

.process-list-container .process-list-section .card-image img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    display: block;
}

#crowdsourcing .process-list-container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    margin-top: 16px;
    background-color: white;
}

#crowdsourcing .dashboard-section {
    background-color: #fff;
    padding: 1.5rem;
    /* margin-bottom: 1.5rem; */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    font-family: IBM Plex Sans, sans-serif;
    font-weight: var(--font-light);
    font-size: 1.8rem;
    line-height: 24px;

}

#crowdsourcing .dashboard-info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 12px;
    padding-bottom: 12px;
}

#crowdsourcing .dashboard-info a {
    text-decoration: unset;
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-weight: var(--font-semibold);
    font-size: 16px;
}

#crowdsourcing .dashboard-section h1 {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-weight: var(--font-semibold);
    font-size: 40px;
}

#crowdsourcing .dashboard-section h2 {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-weight: var(--font-semibold);
    font-size: 24px;
}

.dashboard-user-processes .info-box {
        background-color: var(--color-btn-primary);
        aspect-ratio: 1;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
}

.dashboard-user-processes .info-box:focus {
    transform: translateY(-3px);
}

.dashboard-user-processes .info-box::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 16px;     /* Abstand vom unteren Rand */
    right: 16px;      /* Abstand vom rechten Rand */
    background-image: url('../Icons/link-arrow-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    aria-hidden: true;
    fill: white;
}

.dashboard-user-processes .info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dashboard-user-processes .info-box h3 {
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-size: 16px;
    font-weight: var(--font-semibold);
    color: white;
    letter-spacing: normal;
    margin-bottom: 0.5rem;
}


.dashboard-info .toggle-arrow {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    color: inherit;
    display: inline-flex;            /* inline + flex for alignment */
    align-items: center;             /* vertically center text and arrow */
    gap: 4px;                       /* small gap between text and arrow */
}

.dashboard-info .toggle-arrow::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../Icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: background-image 0.3s ease;
}

.dashboard-info .toggle-arrow[aria-expanded="true"]::after {
    background-image: url('../Icons/arrow-up.svg');
}

.dashboard-info .col-2-text {
    display: grid;
    grid-template-areas: "a a";
    grid-gap:20px;
}


/* Modals */

#crowdsourcing .modal-backdrop.show,
#crowdsourcing-login .modal-backdrop.show {
    opacity: 0.7;
}

.form-control,
#registerModal input,
#loginModal input,
#crowdsourcing .btn,
#crowdsourcing-login .btn {
    border-radius: 0;
    font-size: 1.8rem !important;
}

.form-control {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#registerModal .modal-header,
#registerModal .modal-footer,
#loginModal .modal-header,
#loginModal .modal-footer {
    border: none;
}

#crowdsourcing .modal-content,
#crowdsourcing .modal-header,
#crowdsourcing .modal-footer,
#crowdsourcing-login .modal-content,
#crowdsourcing-login .modal-header,
#crowdsourcing-login .modal-footer,
#registerModal .modal-content,
#registerModal .modal-header,
#registerModal .modal-footer {
    border-radius: 0;
}

#registerModal #bargraph {
    display: none;
}

#registerModal .form-check {
    padding-left: 0;
}

#registerModal .error {
    color: red;
    font-size: 12px;
}

#registerModal .formerrors {
   display: none;
}

#registerModal .col-md-6 {
    width: 100%;
}

#registerModal form {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#crowdsourcing .modal.fade .modal-dialog,
#registerModal .modal-dialog,
#crowdsourcing-login .modal.fade .modal-dialog {
    transform: translate(0, 100%);
    transition: transform 0.3s ease-out;
}

#crowdsourcing .modal.show .modal-dialog,
#registerModal .modal-dialog,
#crowdsourcing-login .modal.show .modal-dialog {
    transform: translate(0, 0);
}

#crowdsourcing #info-box-details .modal-header {
    border-bottom: none;
}


/* Metadata form */

#nav-tabContent {
    background: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1.5rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #000;
    border-color: #fff;
}

.nav-link {
    color: #000000;
}

.nav-link:focus,
.nav-link:hover {
    color: #6c757d;
}


button.tab-error::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-left: 6px;
}

.form-error {
    border: 1px solid red;
}

.carousel-image {
    object-fit: cover;
    width: 100%;
}

ul.facets {
    list-style: none;
    padding-left: 0;
}

ul.facets li a {
    text-decoration: none;
    color: #000;
}

ul.facets li a:hover {
    text-decoration: underline;
    color: #0a53be;
}


@media (max-width: 991px) {
    #crowdsourcing .info-box-wrapper {
        max-width: 100%;
    }

    .main-nav .gap-4 {
        gap: 1.5rem !important;
    }
}

@media (max-width: 768px) {

}
