<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="crowdsourcing" class="tx_evoweb_sfregister frontend-main">
	<f:security.ifAuthenticated>
		<f:then>
			<f:render partial="Workflow/Navigation" arguments="{_all}"/>
			<main class="container-fluid mt-4">
				<div class="mx-auto user-profile-container">
					<f:render section="Main" />
				</div>
			</main>
		</f:then>
		<f:else>
			<f:translate id="needTobBeLoggedIn"/>
		</f:else>
	</f:security.ifAuthenticated>
</div>

</html>
