<!-- Container for Task List Page -->

<f:layout name="Backend/Campaign"/>

<f:section name="main">

    <style>
        .carousel-image {
            object-fit: contain;
            height: 150px;
            width: 100%;
            object-position: right center;
            background-color: transparent;
        }
    </style>

    <!-- Container for Process List Page -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h4><f:translate key="campaignModule.processList.edit.header" arguments="{0: campaign.title}"/></h4>
                        <h5>{f:translate(key: 'campaignModule.processList.edit.info')}</h5>
                        <f:link.action action="listProcesses" arguments="{campaign:currentCampaign}" class="btn btn-primary btn-block">{f:translate(key: 'campaignModule.processList.button.close')}</f:link.action>
                    </div>
                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="mb-3">
                                    <f:form action="editProcesses" object="{campaign}" objectName="campaign" method="post" enctype="multipart/form-data"
                                            additionalParams="{campaign: '{campaign.uid}'}"
                                            addQueryString="true">
                                        <div class="mb-3">
                                            <label for="searchProcess" class="form-label">{f:translate(key: 'campaignModule.searchProcess.label')}</label>
                                            <div class="input-group">
                                                <input type="text"
                                                       class="form-control"
                                                       id="searchProcess"
                                                       name="query"
                                                       value="{query}"
                                                       placeholder="{f:translate(key: 'search.input.placeHolder')}">

                                                <button type="submit" class="btn btn-secondary" aria-label="Suchen" style="color: white;">
                                                    <core:icon identifier="actions-search" size="small" />
                                                </button>
                                            </div>
                                        </div>
                                    </f:form>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped" id="taskTable">
                            <tbody>
                                <f:for each="{processes}" as="process">
                                    <tr class="process" id="process-{process.uid}"  data-name="{process.metadataForDisplay.signatur}">
                                        <td class="w-auto text-nowrap">
                                            <f:variable name="activeFacetsArray" value="{facet: activeFacets}"/>
                                            <f:variable name="activeFacetsWhithQueryArray" value="{v:iterator.merge(a: activeFacetsArray, b: {query: query})}" />
                                            <f:variable name="pageArguments" value="{v:iterator.merge(a: activeFacetsWhithQueryArray, b: {currentPage: paginator.currentPageNumber, campaign: campaign, process:process})}"/>
                                            <div class="d-flex flex-column gap-2 align-items-start">
                                                <f:if condition="{process.campaign.uid} == {currentCampaign.uid}">
                                                    <f:then>
                                                        <f:link.action section="process-{process.uid}" action="removeProcessFromCampaign" arguments="{pageArguments}" class="btn btn-danger btn-sm">
                                                            <f:translate key="campaignModule.processList.button.removeProcessFromCampaign" />
                                                        </f:link.action>
                                                    </f:then>
                                                    <f:else>
                                                        <f:link.action  section="process-{process.uid}" action="addProcessToCampaign" arguments="{pageArguments}" class="btn btn-primary btn-sm">
                                                            <f:translate key="campaignModule.processList.button.addProcessToCampaign" />
                                                        </f:link.action>
                                                    </f:else>
                                                </f:if>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="fs-6">
                                                {process.metadataForDisplay.signatur}<br />
                                                <span class="badge rounded-pill bg-info border-info">
                                                    <f:translate key="process.state.{process.state}" />
                                                </span>
                                                <f:if condition="{process.feUser}">
                                                    <span class="badge rounded-pill bg-warning border-warning">
                                                    <f:translate key="process.in_edit" arguments="{0: process.feUser.username}" />
                                                </span>
                                                <div class="mt-2">
                                                <f:if condition="{process.feUser}">
                                                    <f:link.action  section="process-{process.uid}" action="revokeProcessEditing" arguments="{pageArguments}" class="btn btn-warning btn-sm">
                                                        <f:translate key="campaignModule.processList.button.revokeEditing" />
                                                    </f:link.action>
                                                </f:if>
                                                </div>
                                                </f:if>
                                            </span>
                                        </td>
                                        <td>
                                            <div id="carousel-{process.uid}" class="carousel slide">
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <f:for each="{process.images}" as="imageName" iteration="index">
                                                        <div class="carousel-item {f:if(condition: '{index.index} == 0', then: 'active', else: '')}">
                                                            <img src="{process.thumbsImageInfos.{index.index}.image}" class="d-block w-100 carousel-image" />
                                                        </div>
                                                    </f:for>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                        </table>

                        <f:variable name="paginationAction">editProcesses</f:variable>
                        <f:render partial="Backend/Campaign/Pagination" arguments="{_all}"/>

                        <f:if condition="{paginator.searchResult.numFound} < 1">
                            <div class="alert alert-info" role="alert" id="noProcessesAlert">
                                <f:translate key="campaignModule.processList.noProcessesAlert" />
                            </div>
                        </f:if>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="module" src="{f:uri.resource(path:'EXT:crowdsourcing/Resources/Public/JavaScript/Backend/CampaignModule.js')}"></script>


    <script>
        // Function to filter tasks by search and filters
        function filterTasks() {
            var searchInput = document.getElementById('searchTask').value.toLowerCase();
            var statusFilter = document.getElementById('filterTaskStatus').value.toLowerCase();
            var priorityFilter = document.getElementById('filterTaskPriority').value.toLowerCase();

            var tasks = document.querySelectorAll('.task');
            var noTasks = true;

            tasks.forEach(function(task) {
                var name = task.getAttribute('data-name').toLowerCase();
                var status = task.getAttribute('data-status').toLowerCase();
                var priority = task.getAttribute('data-priority').toLowerCase();

                // Check if task matches search and filters
                var matchesSearch = name.includes(searchInput);
                var matchesStatus = (statusFilter === "" || status.includes(statusFilter));
                var matchesPriority = (priorityFilter === "" || priority.includes(priorityFilter));

                if (matchesSearch && matchesStatus && matchesPriority) {
                    task.style.display = '';
                    noTasks = false;
                } else {
                    task.style.display = 'none';
                }
            });

            // Show "No Tasks" message if no tasks match
            if (noTasks) {
                document.getElementById('noTasksAlert').style.display = 'block';
            } else {
                document.getElementById('noTasksAlert').style.display = 'none';
            }
        }
    </script>


</f:section>
