
<f:layout name="Backend/Campaign"/>

<f:section name="main">
    <!-- Container for the Entry Page -->
    <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Campaign Dashboard</h4>
                        <p>Select an action to proceed</p>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <!-- Action 1: Create Campaign -->
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-body" style="display: flex; flex-direction: column;">
                                        <h5 class="panel-title">Create a Campaign</h5>
                                        <p class="panel-text">Start a new campaign by filling out the details.</p>
                                        <f:link.action action="new" class="btn btn-primary" style="margin-top: auto;">
                                            Create Campaign
                                        </f:link.action>
                                    </div>
                                </div>
                            </div>

                            <!-- Action 2: Show/Manage Existing Campaigns -->
                            <div class="col-md-4">
                                <div class="panel panel-warning">
                                    <div class="panel-body" style="display: flex; flex-direction: column;">
                                        <h5 class="panel-title">Manage Existing Campaigns</h5>
                                        <p class="panel-text">View and manage your existing campaigns.</p>
                                        <f:link.action action="list" class="btn btn-warning" style="margin-top: auto;">
                                            Manage Campaigns
                                        </f:link.action>
                                    </div>
                                </div>
                            </div>

                            <!-- Action 3: List Processes -->
                            <div class="col-md-4">
                                <div class="panel panel-success">
                                    <div class="panel-body" style="display: flex; flex-direction: column;">
                                        <h5 class="panel-title">List Processes</h5>
                                        <p class="panel-text">View and manage the processes related to your campaigns.</p>
                                        <f:link.action action="listProcesses" class="btn btn-success" style="margin-top: auto;">
                                            View Processes
                                        </f:link.action>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</f:section>