<!-- Container for Task List Page -->

<f:layout name="Backend/Campaign"/>
<f:section name="main">
    <style>
        .carousel-image {
        object-fit: cover;
        height: 300px;
        width: 100%;
        }
    </style>

    <div class="container mt-5">
        <h1>{campaign.title}</h1>
        <h2>Processes</h2>

        <f:link.action action="editProcesses" arguments="{campaign:campaign}" class="btn btn-primary w-100 mb-2">Edit List</f:link.action>
        <f:link.action action="list" class="btn btn-primary w-100">Close</f:link.action>

        <div class="row">
            <!-- Search Form -->
            <div class="col-12">
                <div class="row border-bottom pb-3 mb-3">
                    <f:form action="listProcesses" method="post" name="searchForm" id="searchForm">
                        <f:form.textfield name="search" placeholder="Enter search term" value="{search}" id="searchTask" class="form-control" />
                    </f:form>
                </div>
            </div>

            <!-- Documents List -->
            <f:for each="{documents}" as="document">
                <div class="col-12">
                    <div class="row border-bottom pb-3 mb-3">
                        <!-- Image on the Left (Carousel) -->
                        <div class="col-md-4">
                            <div id="carousel-{document.identifier}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <f:for each="{document.images}" as="imageName" iteration="index">
                                        <div class="carousel-item {f:if(condition: '{index.index} == 0', then: 'active', else: '')}">
                                            <f:image src="file:{importedPath}/{document.identifier}/images/{imageName}" alt="Image" class="d-block w-100 carousel-image" />
                                        </div>
                                    </f:for>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{document.identifier}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel-{document.identifier}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                            <!-- Text Content on the Right -->
                        <div class="col-md-8">
                            <h2>{document.metadataForDisplay.signature}</h2>
                            <div class="post-meta"></div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </div>

</f:section>
