<!--
SPDX-FileCopyrightText: 2026 Württembergische Landesbibliothek

SPDX-License-Identifier: GPL-3.0-or-later
-->

<!-- Container for Task List Page -->

<f:layout name="Backend/Campaign"/>
<f:section name="main">
    <style>
        .carousel-image {
            object-fit: contain;
            height: 150px;
            width: 100%;
            object-position: right center;
            background-color: transparent;
        }
    </style>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h4>{campaign.title}</h4>
                        <h5>{f:translate(key: 'campaignModule.processList.header')}</h5>

                        <f:link.action action="editProcesses" arguments="{campaign:campaign}" class="btn btn-primary w-100 mb-2">{f:translate(key: 'campaignModule.processList.button.edit')}</f:link.action>
                        <f:link.action action="list" class="btn btn-primary w-100">{f:translate(key: 'campaignModule.processList.button.close')}</f:link.action>
                    </div>

                    <div class="card-body">
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="mb-3">
                                    <f:form action="listProcesses" object="{campaign}" objectName="campaign" method="post" enctype="multipart/form-data"
                                            additionalParams="{campaign: '{campaign.uid}'}"
                                            addQueryString="true">
                                        <div class="mb-3">
                                            <label for="searchProcess" class="form-label">{f:translate(key: 'campaignModule.searchProcess.label')}</label>
                                                <div class="input-group">
                                                <input type="text"
                                                       class="form-control"
                                                       id="searchProcess"
                                                       name="query"
                                                       value="{query}"
                                                       placeholder="{f:translate(key: 'search.input.placeHolder')}">

                                                <button type="submit" class="btn btn-secondary" aria-label="Suchen" style="color: white;">
                                                    <core:icon identifier="actions-search" size="small" />
                                                </button>
                                            </div>
                                        </div>
                                    </f:form>
                                </div>
                            </div>
                        </div>

                        <table class="table table-striped" id="taskTable">
                            <tbody>
                                <f:for each="{documents}" as="document">
                                    <tr class="process" id="process-{document.uid}" data-name="{document.metadataForDisplay.signatur}">
                                        <td>
                                            <span class="fs-6">
                                                {document.metadataForDisplay.signatur}<br />
                                                <span class="badge bg-info border-info">
                                                    <f:translate key="process.state.{document.state}" />
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            <div id="carousel-{document.uid}" class="carousel slide">
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <f:for each="{document.images}" as="imageName" iteration="index">
                                                        <div class="carousel-item {f:if(condition: '{index.index} == 0', then: 'active', else: '')}">
                                                            <img src="{document.thumbsImageInfos.{index.index}.image}" class="d-block w-100 carousel-image" />
                                                        </div>
                                                    </f:for>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </f:for>
                            </tbody>
                        </table>

                        <f:variable name="paginationAction">listProcesses</f:variable>
                        <f:render partial="Backend/Campaign/Pagination" arguments="{_all}"/>

                        <f:if condition="{paginator.searchResult.numFound} < 1">
                            <div class="alert alert-info" role="alert" id="noProcessesAlert">
                                <f:translate key="campaignModule.processList.noProcessesAlert" />
                            </div>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>

</f:section>
