<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">


<f:layout name="Backend/Campaign"/>

<f:section name="main">

    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4>Create a New Campaign</h4>
                        <p>Fill in the details below to create a new campaign</p>
                    </div>
                    <div class="card-body">
                        <f:form action="create" object="{campaign}" objectName="campaign" method="post" enctype="multipart/form-data">

                            <f:render partial="Backend/Campaign/CampaignFields" />

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <f:form.submit name="createCampaign" value="Create Campaign" class="btn btn-primary btn-block" />
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-secondary btn-block" onclick="window.history.back();">Cancel</button>
                                    </div>
                                </div>
                            </div>

                        </f:form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</f:section>

</html>