<!--
SPDX-FileCopyrightText: 2026 Württembergische Landesbibliothek

SPDX-License-Identifier: GPL-3.0-or-later
-->

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

{namespace wlb=Wlb\Crowdsourcing\ViewHelpers}

<f:layout name="Modal" />

<f:section name="main">

    <f:security.ifAuthenticated>
        <f:then>
        </f:then>
        <f:else>
        </f:else>
    </f:security.ifAuthenticated>

    <f:if condition="{messageKey} == 'error'">
        <script>
            var showLoginDialog = true;
        </script>
    </f:if>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" data-loginerror="{f:if(condition:'{cookieWarning} || {messageKey} == \'error\'',then:'true',else:'false')}">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="loginModalLabel">
                        <f:translate key="login"/>
                        <f:comment><f:translate extensionName="crowdsourcing" key="login.header" /></f:comment>
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <f:flashMessages/>

                    <f:if condition="{messageKey} && {messageKey} != 'welcome'">
                        <p>
                            <f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_message'}"/>
                        </p>
                    </f:if>

                    <f:form id="feloginSubmit" target="_top" fieldNamePrefix="" action="login" requestToken="{requestToken}" spellcheck="false">
                        <f:render section="content" arguments="{_all}"/>
                    </f:form>

                    <f:if condition="{settings.showForgotPassword}">
                        <f:link.action action="recovery" controller="PasswordRecovery">
                            <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
                        </f:link.action>
                    </f:if>

                    <f:if condition="{settings.crowdsourcingLoginHelpLink}">
                        <div class="login-help">
                            <f:link.typolink parameter="{settings.crowdsourcingLoginHelpLink}"
                                             target="_blank"
                                             additionalAttributes="{rel:'noopener'}">
                                <f:translate extensionName="felogin" id="login_help"/>
                            </f:link.typolink>
                        </div>
                    </f:if>


                    <f:section name="content">
                        <fieldset class="mb-3">
                            <div class="mb-3">
                                <label for="tx-felogin-input-username">
                                    <f:translate key="username"/>
                                </label>
                                <f:form.textfield class="form-control" name="user" required="true" autocomplete="username" id="tx-felogin-input-username"/>
                            </div>
                            <div class="mb-3">
                                <label for="tx-felogin-input-password">
                                    <f:translate key="password"/>
                                </label>
                                <f:form.password class="form-control"  name="pass" required="required" autocomplete="current-password" id="tx-felogin-input-password"/>
                            </div>

                            <f:if condition="{permaloginStatus} > -1">
                                <div>
                                    <label for="permalogin">
                                        <f:translate id="permalogin"/>
                                    </label>
                                    <f:if condition="{permaloginStatus} == 1">
                                        <f:then>
                                            <f:form.hidden name="permalogin" value="0" disabled="disabled"/>
                                            <f:form.checkbox class="form-control" name="permalogin" id="permalogin" value="1" checked="checked"/>
                                        </f:then>
                                        <f:else>
                                            <f:form.hidden name="permalogin" value="0"/>
                                            <f:form.checkbox class="form-control"  name="permalogin" id="permalogin" value="1"/>
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:if>

                            <f:comment>
                            <div>
                                <f:form.submit class="form-control"  value="{f:translate(key: 'login')}" name="submit"/>
                            </div>
                            </f:comment>

                            <div class="felogin-hidden">
                                <f:form.hidden name="logintype" value="login"/>
                                <f:if condition="{redirectURL}!=''">
                                    <f:form.hidden name="redirect_url" value="{redirectURL}" />
                                </f:if>
                                <f:if condition="{referer}!=''">
                                    <f:form.hidden name="referer" value="{referer}" />
                                </f:if>
                                <f:if condition="{redirectReferrer}!=''">
                                    <f:form.hidden name="redirectReferrer" value="off" />
                                </f:if>
                                <f:if condition="{noRedirect}!=''">
                                    <f:form.hidden name="noredirect" value="1" />
                                </f:if>
                            </div>
                        </fieldset>
                    </f:section>

                </div>
                <div class="modal-footer">
                    <f:comment>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    </f:comment>
                    <button type="submit" class="btn btn-secondary" name="submit" form="feloginSubmit">{f:translate(key: 'next')}</button>
                </div>
            </div>
        </div>
    </div>

</f:section>

</html>
