/*
 * SPDX-FileCopyrightText: 2026 Württembergische Landesbibliothek
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.module-container {
    height:100%;
    overflow-y: scroll;
}

.module-container table thead th,
.module-container table td,
.module-container .card {
    color: #000000 !important;
}
