<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="LoggedIn" />

<f:section name="Main">

<h2 class="px-3">Profil bearbeiten</h2>

<f:form id="sfrForm" action="proxy" name="user" class="px-3" object="{user}">
	<div class="form-row">
		<f:for each="{settings.fields.selected}" as="selectedField">
			<f:alias map="{options: '{settings.fields.configuration.{selectedField}}'}">
				<f:render partial="Preview/{options.partial}" arguments="{user: user, fieldName: selectedField, options: options}"/>
			</f:alias>
		</f:for>
		<div class="d-flex justify-content-end gap-2">
			<f:render partial="Preview/Change" arguments="{user: user, fieldName: 'change'}"/>
			<f:render partial="Preview/Update" arguments="{user: user, fieldName: 'update'}"/>
			<f:render partial="Form/Cancel" arguments="{user: user, fieldName: 'cancel'}"/>
		</div>
	</div>
</f:form>
</f:section>

</html>
